
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    text-decoration: none; 
    list-style: none; 
    transition: .5s; 
    scroll-behavior: smooth; 
    font-family: 'Calibri'; 
}


.section { 
    max-width: 1400px; 
    margin: 0 auto; 
} 
.py-80 { 
    padding: 80px 0; 
 
} 

.header-block { 
    width: 100%; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
  
    background-color: rgb(44, 63, 52); 
} 

.logo{ 
    display: flex; 
    align-items: center; 
    gap: 20px; 
    font-weight: 700; 
    font-size: 22px; 
    padding: 10px 0;
    margin: 0 200px; 
    color: white;
} 
 
.logo img{ 
    width: 60px; 
} 
 
nav { 
    display: flex; 
    gap: 20px; 
    margin: 0 200px; 
} 
 .span{
     color: rgb(105, 190, 105);
 }
nav a { 
    color: rgb(255, 255, 255); 
    position: relative; 
    font-size: 20px;
} 
 
nav a::after { 
    content: ""; 
    position: absolute; 
    width: 0; 
    background: black; 
    height: 1px; 
    bottom: -3px; 
    left: 50%; 
    transform: translateX(-50%); 
    transition: .5s; 
} 
 
nav a:hover::after{ 
    width: 100%; 
} 
/* otzuv */
.text{
    padding: 100px 0;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 

    color: black; 
    gap: 25px; 
}
 h1{
     font-size: 50px;
 }
 h2{
     font-size: 20px;
 }
.otzuv-niz{
   display: flex;
   text-align: center;
   margin-left: 80px;
   border: 1px solid rgba(0, 0, 0, 0.123);
padding: 40px 15px;
margin-top: -20px;
border-radius: 10px;

}
.otzuv-niz p{
font-size: 18px;
  display: flex;
   text-align: center;
}
.otzuv-niz2{
    display: flex;
   text-align: center;
   margin-left: 80px;
   border: 1px solid rgba(0, 0, 0, 0.021);
   border-radius: 10px;
padding: 27px 30px;
background-color: rgba(245, 245, 220, 0.63);

}
.otzuv-niz2 p{
    font-size: 18px;
  display: flex;
   text-align: center;
   margin-top: 16px;
   margin-left: 10px;
   font-weight: bold;
}